DATABASE_URL=mongodb://127.0.0.1/your-database-name
PAYLOAD_SECRET=YOUR_SECRET_HERE

# Vercel Blob Storage
# BLOB_READ_WRITE_TOKEN=YOUR_VERCEL_BLOB_TOKEN_HERE

# Alternative: Uploadthing
# UPLOADTHING_TOKEN=YOUR_UPLOADTHING_TOKEN_HERE

# Logger
LOG_LEVEL=info
